@font-face {
  font-family: "Chopsic";
  src: url("./assets/font_Chopsic/chopsic-webfont.woff") format("woff"),
    url("./assets/font_Chopsic/Chopsic.otf") format("opentype"),
    url("./assets/font_Chopsic/chopsic-webfont.woff2") format("woff2");
}
body {
  background-image: url("./assets/background_1.webp");

  background-color: #99caea;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.appHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 30px;

  .ticketsBtn {
    padding: 15px 20px 15px 20px;
    text-align: center;
    border-radius: 60px;
    background: linear-gradient(
      180deg,
      rgba(249, 190, 121, 0.85) 0%,
      rgba(254, 91, 0, 0.85) 54.69%,
      rgba(208, 64, 19, 0.85) 100%
    );
    display: block;
    position: relative;

    font-size: 20px;
    color: #ffffffa7;
    transition: 0.2s;
  }

  .ticketsBtn:active {
    background: linear-gradient(
      360deg,
      rgba(249, 190, 121, 0.85) 0%,
      rgba(254, 91, 0, 0.85) 54.69%,
      rgba(208, 64, 19, 0.85) 100%
    );
    transition: 0.2s;
  }
  .ticketsBtn:hover {
    background: linear-gradient(
      360deg,
      rgba(249, 190, 121, 0.85) 0%,
      rgba(254, 91, 0, 0.85) 54.69%,
      rgba(208, 64, 19, 0.85) 100%
    );
    transition: 0.2s;
  }
}

.main {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .timerCont {
    background-image: url("./assets/timer_bgr.svg");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: xx-large;
      background-image: linear-gradient(45deg, #1934fd, #ad31ff);

      /* Set the background size and repeat properties. */
      background-size: 100%;
      background-repeat: repeat;
      background-clip: text;
      /* Use the text as a mask for the background. */
      /* This will show the gradient as a text color rather than element bg. */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
  }

  .logo {
    width: 50%;
    margin: 50px 0px 50px 0px;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.7));
  }

  // .date {

  // }

  .appBtn {
    padding: 15px 20px 15px 20px;
    margin: 100px 0 0 0;
    text-align: center;
    border-radius: 60px;
    background: linear-gradient(
      180deg,
      rgba(210, 197, 248, 0.7) 0%,
      rgba(120, 76, 214, 0.7) 42.71%,
      rgba(46, 19, 208, 0.7) 89.06%
    );
    display: block;
    position: relative;

    font-size: 20px;
    color: #ffffffa7;
    transition: 0.2s;
  }

  .appBtn:active {
    background: linear-gradient(
      360deg,
      rgba(210, 197, 248, 0.7) 0%,
      rgba(120, 76, 214, 0.7) 42.71%,
      rgba(46, 19, 208, 0.7) 89.06%
    );
    transition: 0.2s;
  }
  .appBtn:hover {
    background: linear-gradient(
      360deg,
      rgba(210, 197, 248, 0.7) 0%,
      rgba(120, 76, 214, 0.7) 42.71%,
      rgba(46, 19, 208, 0.7) 89.06%
    );
    transition: 0.2s;
  }
}
