@font-face {
  font-family: "Chopsic";
  src: url("./assets/font_Chopsic/chopsic-webfont.woff") format("woff"),
    url("./assets/font_Chopsic/Chopsic.otf") format("opentype"),
    url("./assets/font_Chopsic/chopsic-webfont.woff2") format("woff2");
}
body {
  // overflow-y: hidden; /* Hide vertical scrollbar */
  background-image: url("./assets/background5.webp");

  background-color: #99caea;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.landingCont {
  z-index: 5;
  position: relative;
}
.appHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 30px;

  .ticketsBtn {
    padding: 5px;
    color: #213547;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 150px;
    height: 60px;
    background-image: url("./assets/buttons/get_tickets.svg");
  }
  .ticketsBtn:hover {
    scale: 1.1;
    filter: drop-shadow(0px 2px 2px rgba(255, 161, 84, 0.7));
    transition: 0.2s;
  }
}

.main {
  // position: absolute;
  // width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .timerCont {
    background-image: url("./assets/timer_bgr.svg");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: xx-large;
      background-image: linear-gradient(45deg, #1934fd, #ad31ff);

      /* Set the background size and repeat properties. */
      background-size: 100%;
      background-repeat: repeat;
      background-clip: text;
      /* Use the text as a mask for the background. */
      /* This will show the gradient as a text color rather than element bg. */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
  }

  .logo {
    width: 50%;
    margin: 50px 0px 50px 0px;
   // filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.7));
  }

  .date {
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
  }
  .btnCont {
    display: flex;
    margin-top: 10%;

    .appBtn {
      padding: 5px;
      color: #213547;
      background-size: cover;
      background-size: contain;
      background-repeat: no-repeat;
      border: none;
      width: 150px;
      height: 60px;
      background-image: url("./assets/buttons/go_to_app.svg");
    }
    .appBtn:hover {
      scale: 1.1;
      filter: drop-shadow(0px 2px 2px rgba(173, 84, 255, 0.7));
      transition: 0.2s;
    }
  }
}
