.mon_on {
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/mon_on.svg");
  background-size: cover;
  filter: drop-shadow(0px 2px 2px rgba(242, 117, 22, 0.7));
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  min-width: 80px;
  min-height: 60px;
  transition: 0.2s;
}

.mon_off {
    padding: 5px;
    color: #213547;
    background-image: url("./assets/buttons/mon_off.svg");
    background-size: cover;
    filter: drop-shadow(0px 2px 2px rgba(173, 84, 255, 0.7));
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    min-width: 80px;
    min-height: 60px;
    transition: 0.2s;
}

.tue_on {
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/tues_on.svg");
  background-size: cover;
  filter: drop-shadow(0px 2px 2px rgba(242, 117, 22, 0.7));
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  min-width: 80px;
  min-height: 60px;
  transition: 0.2s;
}

.tue_off {
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/tues_off.svg");
  background-size: cover;
  filter: drop-shadow(0px 2px 2px rgba(173, 84, 255, 0.7));
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  min-width: 80px;
  min-height: 60px;
  transition: 0.2s;
}

.wed_on {
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/wed_on.svg");
  background-size: cover;
  filter: drop-shadow(0px 2px 2px rgba(242, 117, 22, 0.7));
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  min-width: 80px;
  min-height: 60px;
  transition: 0.2s;
}

.wed_off {
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/wed_off.svg");
  background-size: cover;
  filter: drop-shadow(0px 2px 2px rgba(173, 84, 255, 0.7));
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  min-width: 80px;
  min-height: 60px;
  transition: 0.2s;
}

.thu_on {
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/thur_on.svg");
  background-size: cover;
  filter: drop-shadow(0px 2px 2px rgba(242, 117, 22, 0.7));
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  min-width: 80px;
  min-height: 60px;
  transition: 0.2s;
}

.thu_off {
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/thur_off.svg");
  background-size: cover;
  filter: drop-shadow(0px 2px 2px rgba(173, 84, 255, 0.7));
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  min-width: 80px;
  min-height: 60px;
  transition: 0.2s;
}

.fri_on {
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/fri_on.svg");
  background-size: cover;
  filter: drop-shadow(0px 2px 2px rgba(242, 117, 22, 0.7));
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  min-width: 80px;
  min-height: 60px;
  transition: 0.2s;
}

.fri_off {
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/fri_off.svg");
  background-size: cover;
  filter: drop-shadow(0px 2px 2px rgba(173, 84, 255, 0.7));
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  min-width: 80px;
  min-height: 60px;
  transition: 0.2s;
}

.sat_on {
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/sat_on.svg");
  background-size: cover;
  filter: drop-shadow(0px 2px 2px rgba(242, 117, 22, 0.7));
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  min-width: 80px;
  min-height: 60px;
  transition: 0.2s;
}

.sat_off {
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/sat_off.svg");
  background-size: cover;
  filter: drop-shadow(0px 2px 2px rgba(173, 84, 255, 0.7));
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  min-width: 80px;
  min-height: 60px;
  transition: 0.2s;
}

.sun_on {
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/sun_on.svg");
  background-size: cover;
  filter: drop-shadow(0px 2px 2px rgba(242, 117, 22, 0.7));
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  min-width: 80px;
  min-height: 60px;
  transition: 0.2s;
}

.sun_off {
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/sun_off.svg");
  background-size: cover;
  filter: drop-shadow(0px 2px 2px rgba(173, 84, 255, 0.7));
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  min-width: 80px;
  min-height: 60px;
  transition: 0.2s;
}
