//* BASICS *//

@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@font-face {
  font-family: "Chopsic";
  src: url("./assets/font_Chopsic/chopsic-webfont.woff") format("woff"),
    url("./assets/font_Chopsic/Chopsic.otf") format("opentype"),
    url("./assets/font_Chopsic/chopsic-webfont.woff2") format("woff2");
}

:root {

h1 {
  font-family: Chopsic;
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}
h3 {
  font-family: Chopsic;
  font-size: 1.2em;
  line-height: 1.1;
  margin: 0;
  color: #4400ff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

  ul {
    margin: 0;
  }
  font-family: Audiowide, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
