@font-face {
  font-family: "Chopsic";
  src: url("./assets/font_Chopsic/chopsic-webfont.woff") format("woff"),
    url("./assets/font_Chopsic/Chopsic.otf") format("opentype"),
    url("./assets/font_Chopsic/chopsic-webfont.woff2") format("woff2");
}
.colorVanaheim {
  color: #9e00ff;
}
.colorJotunheim {
  color: #2e01ff;
}
.colorMidgard {
  color: #e62897;
}

.hidden {
  display: none;
}
.currentAct {
  text-align: center;
  color: black;
}
.currentWidgBreak {
  // font-family: Chopsic;
  font-size: large;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1.1;

  /* Create the gradient. */
  background-image: linear-gradient(
    171deg,
    rgb(214, 212, 212) 0%,
    rgba(255, 255, 255, 1) 17%,
    rgb(227, 226, 226) 27%,
    rgba(255, 255, 255, 1) 56%,
    rgb(237, 233, 233) 76%,
    rgba(255, 254, 254, 1) 90%
  );

  /* Set the background size and repeat properties. */

  background-clip: text;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
button {
  display: inline-flex;
  align-items: center;
  background: none;
  font-family: "Audiowide";
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}
button:hover {
  border-color: none;
}
button:focus,
button:focus-visible {
  outline: none;
}

.burgerMenu {
  z-index: 5;
  align-items: center;
  color: rgb(237, 237, 237);

  background-color: rgba(247, 247, 247, 0.6);
  backdrop-filter: blur(5px);
  border: 3px solid #cccccc;

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50vw;

  display: flex;
  flex-direction: column;

  padding-top: 10rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: 0.5s;
  button {
    padding: 5px;
    color: #213547;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 150px;
    height: 60px;
  }
  .tickets {
    background-image: url("./assets/buttons/burger_get_tickets.svg");
  }

  .homepage {
    background-image: url("./assets/buttons/burger_homepage.svg");
  }

  .map {
    background-image: url("./assets/buttons/map.svg");
  }
}

.burger_off {
  z-index: 5;
  position: fixed;
  top: 30px;
  right: 8vw;
  background-image: url("./assets/buttons/burger_off.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  height: 5%;
  width: 10%;
  transition: 0.3s;
}

.burger_on {
  z-index: 5;
  position: fixed;
  top: 30px;
  right: 30px;
  background-image: url("./assets/buttons/burger_on.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  height: 5%;
  width: 10%;
  transition: 0.3s;
}
.searchContCont {
  min-width: 320px;
  width: 65vw;
  max-width: 500px;
  margin-top: 5%;
}
.searchbarCont {
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    to bottom,
    rgb(136, 136, 137),
    rgb(226, 227, 226)
  );
  opacity: 0.7;
  backdrop-filter: blur(2px);
  border-radius: 30px;
  border: 3px solid #cccccc;

  input {
    width: 89%;
    padding: 5px;
    font-family: "Audiowide";
    font-size: medium;
    border: none;
    background-color: transparent;
  }
  input::placeholder {
    color: #393939;
  }
  .searchBtn {
    border: none;
    margin: 5px;
    background-image: url("./assets/buttons/search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 18px;
    min-height: 18px;
  }
}

.NavBarCont {
  z-index: 10;
  position: fixed;
  width: 90%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  height: 70px;
  // justify-content: center;
  justify-items: center;
  justify-content: center;

  button {
    border: 0;
    height: 100%;
    width: 100%;
    transition: 0.2s;
    max-width: 100px;
    // align-self: center;
    justify-content: center;
  }

  .homeOn {
    padding: 5px;
    color: #213547;
    background-image: url("./assets/buttons/home_on.svg");
    background-size: cover;
    filter: drop-shadow(0px 1px 2px rgba(242, 117, 22));
    background-size: contain;
    background-repeat: no-repeat;
  }
  .homeOn:hover {
    filter: drop-shadow(0px 1px 1px rgba(242, 117, 22));
  }

  .homeOff {
    padding: 5px;
    color: #213547;
    background-image: url("./assets/buttons/home_off.svg");
    background-size: cover;
    // filter: drop-shadow(0px 2px 2px rgba(173, 84, 255, 0.7));
    background-size: contain;
    background-repeat: no-repeat;
  }
  .homeOff:active {
    background-image: url("./assets/buttons/home_on.svg");

    filter: drop-shadow(0px 3px 1px rgba(173, 84, 255, 0.7));
  }
  .homeOff:hover {
    filter: drop-shadow(0px 3px 1px rgba(173, 84, 255, 0.7));
  }

  .bandsOn {
    padding: 5px;
    color: #213547;
    background-image: url("./assets/buttons/bands_on.svg");
    background-size: cover;
    filter: drop-shadow(0px 1px 2px rgba(242, 117, 22, 0.7));
    background-size: contain;
    background-repeat: no-repeat;
  }
  .bandsOn:hover {
    filter: drop-shadow(0px 1px 1px rgba(242, 117, 22, 0.7));
  }

  .bandsOff {
    padding: 5px;
    color: #213547;
    background-image: url("./assets/buttons/bands_off.svg");
    filter: drop-shadow(0px 0px 0px rgba(173, 84, 255, 0.7));
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .bandsOff:active {
    background-image: url("./assets/buttons/bands_on.svg");
    filter: drop-shadow(0px 3px 1px rgba(173, 84, 255, 0.7));
  }
  .bandsOff:hover {
    filter: drop-shadow(0px 3px 1px rgba(173, 84, 255, 0.7));
  }

  .scheduleOn {
    padding: 5px;
    color: #213547;
    background-image: url("./assets/buttons/skedge_on.svg");
    background-size: cover;
    filter: drop-shadow(0px 1px 2px rgba(242, 117, 22, 0.7));
    background-size: contain;
    background-repeat: no-repeat;
  }
  .scheduleOn:hover {
    filter: drop-shadow(0px 1px 1px rgba(242, 117, 22, 0.7));
  }

  .scheduleOff {
    padding: 5px;
    color: #213547;
    background-image: url("./assets/buttons/skedge_off.svg");
    background-size: cover;
    filter: drop-shadow(0px 0px 0px rgba(173, 84, 255, 0.7));
    background-size: contain;
    background-repeat: no-repeat;
  }
  .scheduleOff:active {
    background-image: url("./assets/buttons/skedge_on.svg");
    filter: drop-shadow(0px 1px 1px rgba(173, 84, 255, 0.7));
  }
  .scheduleOff:hover {
    filter: drop-shadow(0px 3px 1px rgba(173, 84, 255, 0.7));
  }
}

.appCont {
  display: flex;
  justify-content: center;
  margin: 0px 20px 0px 20px;
  // z-index: 5;
  position: relative;
}

.anotherCont {
  height: 100vh;
}
.homeCont {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  justify-content: space-evenly;

  .logo {
    justify-self: center;
    // margin: 10vw;
    filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 0.7));
  }

  // currently playing player
  h3 {
    font-size: x-large;
    font-family: "Chopsic";
    color: #7000ff;
    margin: 0;
    margin-bottom: 1vh;
    text-align: center;
  }

  .currentlyCont {
    z-index: 5;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    color: rgb(237, 237, 237);

    background-color: rgba(247, 247, 247, 0.4);
    backdrop-filter: blur(2px);
    border-radius: 30px;
    border: 3px solid #cccccc;

    .currentContCont {
      display: grid;
      grid-template-columns: 10% 90%;
    }
    .currentBandBox {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: 10px;
      gap: 5px;
      img {
        width: 40px;
      }

      .currentBandRow {
        font-size: medium;
        display: grid;
        // flex-direction: column;
        // flex-wrap: nowrap;
        justify-content: space-between;
        // gap: 5px;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
          "img band"
          "img stage";
        img {
          grid-area: img;
        }
      }

      .playerBand {
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        color: rgb(0, 0, 0);
        overflow: hidden;
        width: 200px;
      }

      .playerStage {
        font-family: "chopsic";
        font-size: 12px;
      }
    }
  }
}
.imgSingleBand {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: rgba(255, 255, 255, 0.6) 2px solid;
}
.likeBtn {
  text-align: right;
  z-index: 10;

  button {
    border: none;
    padding: 0;
    margin: 0;
  }
  button:hover {
    border-color: none;
  }
  button:focus,
  button:focus-visible {
    outline: none;
  }
}

.buttBlue {
  background-image: url("./assets/buttons/blue_like.svg");
  background-repeat: no-repeat;
  min-width: 30px;
  min-height: 30px;
}
.buttRed {
  background-image: url("./assets/buttons/orange_like.svg");
  background-repeat: no-repeat;
  min-width: 30px;
  min-height: 30px;
}
.contCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cancelled_contCont {
  filter: grayscale(100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bandsCont {
  z-index: 5;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;

  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;

  .logo_small {
    width: 30vw;
    justify-self: flex-start;
  }

  .bandListBox {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    color: rgb(237, 237, 237);

    background-color: rgba(247, 247, 247, 0.4);
    backdrop-filter: blur(2px);
    border-radius: 30px;
    border: 3px solid #cccccc;

    // band list

    .singleBandCont {
      display: flex;
      // width: 100%;
      // grid-template-columns: 1fr 5fr;
      gap: 10px;
      cursor: pointer;
      align-items: center;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: medium;

      img {
        margin: 0;
      }
      h4 {
        font-size: 14px;
        color: rgb(0, 0, 0);
        width: 200px;
      }
    }
  }
}

.skedgeCont {
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;

  .logo_small {
    width: 30vw;
    justify-self: flex-start;
  }
  #weekDaysCont {
    min-width: 320px;
    width: 65vw;
    max-width: 500px;
    overflow-x: hidden;
    margin-top: 5%;
    ::-webkit-scrollbar {
      display: none;
    }
  }

  .weekDays {
    overflow: auto;
    white-space: nowrap;
    width: 100%;

    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    justify-content: center;
    button {
      margin-right: 15px;
    }
  }

  .skedgeList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 15px 60px 15px;
    color: rgb(0, 0, 0);
    gap: 50px;

    background-color: rgba(247, 247, 247, 0.4);
    backdrop-filter: blur(2px);
    border-radius: 30px;
    border: 3px solid #cccccc;

    list-style: none;

    // band list

    .timeSlot {
      display: flex;
      flex-direction: column;
      align-items: center;

      .time {
        font-size: x-large;
        margin: 0;
        color: #7000ff;
      }
    }
    .currentBandBox {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: 20px;
      gap: 20px;
    }

    .singleBand {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 1fr 1fr;
      justify-content: space-between;
      row-gap: 0;
      column-gap: 10px;

      img {
        grid-row: 1 / 3;
        align-self: start;
        justify-self: center;
        margin: 0;
        height: 40px;
      }

      .act {
        grid-row: 1 / 2;
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        color: rgb(20, 20, 20);
        overflow: hidden;
        width: 200px;
        // color: white;
      }

      .stage {
        grid-row: 2 / 3;
        margin: 0;
        font-family: "chopsic";
        font-size: small;
        align-self: end;
        // color: rgb(232, 232, 232);
      }
    }

    .imgSingleBand {
      display: block;
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
      width: 40px;
      height: 40px;
      border-radius: 10px;
      border: rgba(255, 255, 255, 0.6) 2px solid;
    }
  }
}

.oneBandCont {
  position: fixed;
  display: flex;

  top: 0%;
  left: 0%;
  place-content: center;
  height: 100vh;
  width: 100vw;

  justify-content: center;
  align-items: flex-start;
  padding-top: 10%;

  background-color: #000000a6;
  z-index: 30;

  .oneBand {
    position: relative;
    display: flex;
    height: 80%;
    margin: 0 5% 0 5%;

    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.879);

    background: linear-gradient(
      0deg,
      rgba(217, 215, 215, 0.741) 0%,
      rgba(242, 242, 242, 0.776) 20%,
      rgba(168, 168, 168, 0.785) 60%
    );

    ::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 30px;
      padding: 2px; /* control the border thickness */
      background: linear-gradient(
        0deg,
        rgba(213, 213, 213, 0.771) 0%,
        rgb(255, 255, 255) 20%,
        rgba(85, 85, 85, 0.895) 60%
      );

      mask: #ffffff content-box, #ffffff71;
      mask-composite: exclude;

      -webkit-mask: linear-gradient(
            rgba(255, 255, 255, 1) 0%,
            rgba(197, 197, 197, 1) 39%
          )
          content-box,
        linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(197, 197, 197, 1) 39%);
      -webkit-mask-composite: xor;

      pointer-events: none;
    }

    backdrop-filter: blur(5px);
    border-radius: 30px;
  }

  .imgOneBand {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    margin-top: 3%;
    width: 93%;
    height: 30%;
    border-radius: 20px;
    border: rgba(255, 255, 255, 0.6) 2px solid;
  }

  h3 {
    align-self: flex-start;
    margin: 15px 30px 0px 30px;
  }

  .genreCont {
    display: block;
    background-color: #1934fd;
    padding: 1% 3% 1% 3%;
    margin-top: 2%;
    margin-left: 30px;
    border-radius: 20px;
    align-self: flex-start;

    background: linear-gradient(
      180deg,
      rgba(199, 174, 237, 0.535) 0%,
      rgba(131, 113, 168, 0.569) 30%,
      rgba(101, 81, 201, 0.568) 60%
    );

    p {
      margin: 0;
      font-size: 10px;
    }
  }

  .bandBioCont {
    display: flex;
    padding: 5px 20px 0px 20px;
    max-width: 500px;
    overflow-y: hidden;

    .bandBio {
      overflow: auto;
      white-space: pre-wrap;
      width: 100%;
      font-size: small;
      line-height: 20px;
      color: #ffffff;
    }
  }

  .closeBtn {
    margin: 1%;
    color: #213547;
    background-image: url("./assets/buttons/close.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    min-width: 80px;
    min-height: 60px;
    transition: 0.2s;
  }
}

.btn_side_off {
  color: #213547;
  background-image: url("./assets/nav_side_2.0.svg");
  // box-shadow: 1px -20px 20px 20px #888888;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  height: 100%;
  width: 100%;
}
.btn_mid_on {
  color: #213547;
  background-image: url("./assets/nav_mid_on.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  height: 100%;
  width: 100%;
}
