// ? here there are buttons for reguard and vip tickets

.tickGold {
  background: linear-gradient(
    171deg,
    rgba(250, 218, 106, 1) 9%,
    rgba(234, 184, 55, 1) 70%,
    rgba(248, 219, 117, 1) 82%
  );
}
.ticketOptionBtn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
  button {
    border: 0;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    // padding: 20px;
    color: #213547;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 16px;
    transition: 0.3s;
  }
}
.regInc {
  background-image: url("./assets/tickets/regIncON.svg");
}
button:disabled.regInc {
  background-image: url("./assets/tickets/regIncOFF.svg");
}
.regDec {
  background-image: url("./assets/tickets/regDecON.svg");
}
button:disabled.regDec {
  background-image: url("./assets/tickets/regDecOFF.svg");
}
.vipInc {
  background-image: url("./assets/tickets/vipIncON.svg");
}
button:disabled.vipInc {
  background-image: url("./assets/tickets/vipIncOFF.svg");
}
.vipDec {
  background-image: url("./assets/tickets/vipDecON.svg");
}
button:disabled.vipDec {
  background-image: url("./assets/tickets/vipDecOFF.svg");
}
