@font-face {
  font-family: "Chopsic";
  src: url("./assets/font_Chopsic/chopsic-webfont.woff") format("woff"),
    url("./assets/font_Chopsic/Chopsic.otf") format("opentype"),
    url("./assets/font_Chopsic/chopsic-webfont.woff2") format("woff2");
}

.warning {
  color: red;
}

.hidden {
  display: none;
}

.backClass_1 {
  background-image: url("./assets/background_1.webp");
}
.backClass_2 {
  background-image: url("./assets/background_2.jpg");
}

.form-control {
  display: grid;
  // grid-template-columns: repeat (1fr, 3);
  grid-template-rows: auto;
  column-gap: 3rem;
  color: black;
  // padding: 1rem;
}
#ticketOptions {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.chooseTicket {
  width: 150px;
  text-align: center;
  padding: 20px 20px;
  border-radius: 30px;
  background: linear-gradient(
    47deg,
    rgba(162, 157, 173, 0.7) 0%,
    rgba(197, 197, 197, 0.7) 88%,
    rgba(208, 207, 210, 0.7) 90%
  );
  display: block;
  position: relative;
  ::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 2px; /* control the border thickness */
    background: linear-gradient(
      174deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(197, 197, 197, 1) 52%,
      rgba(120, 120, 120, 1) 100%
    );

    mask: #ffffff content-box, #ffffff71;
    mask-composite: exclude;

    -webkit-mask: linear-gradient(
          rgba(255, 255, 255, 1) 0%,
          rgba(197, 197, 197, 1) 39%
        )
        content-box,
      linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(197, 197, 197, 1) 39%);
    -webkit-mask-composite: xor;

    pointer-events: none;
  }
}
.tickGold {
  background: linear-gradient(
    171deg,
    rgba(250, 218, 106, 1) 9%,
    rgba(234, 184, 55, 1) 70%,
    rgba(248, 219, 117, 1) 82%
  );
}
.extra {
  display: grid;
}
.extraMobile {
  min-width: 50px;
  text-align: center;
  padding: 20px 30px;
  border-radius: 30px;
  background: linear-gradient(
    47deg,
    rgba(162, 157, 173, 0.7) 0%,
    rgba(197, 197, 197, 0.7) 88%,
    rgba(208, 207, 210, 0.7) 90%
  );
  display: block;
  position: relative;
  ::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 2px; /* control the border thickness */
    background: linear-gradient(
      174deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(197, 197, 197, 1) 52%,
      rgba(120, 120, 120, 1) 100%
    );

    mask: #ffffff content-box, #ffffff71;
    mask-composite: exclude;

    -webkit-mask: linear-gradient(
          rgba(255, 255, 255, 1) 0%,
          rgba(197, 197, 197, 1) 39%
        )
        content-box,
      linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(197, 197, 197, 1) 39%);
    -webkit-mask-composite: xor;

    pointer-events: none;
  }
}

#ticketExtras {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.box {
  form {
    width: 100%;
  }
  // align-self: flex-end;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  margin: 3vw;
  display: inline-block;
  background-color: rgba(244, 244, 244, 0.7);
  border-radius: 50px;
  width: 50%;
  min-width: 300px;

  h3 {
    margin-top: 7%;
    margin-bottom: 10px;
  }
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 4px; /* control the border thickness */
  background: linear-gradient(
    rgba(255, 255, 255, 1) 0%,
    rgba(197, 197, 197, 1) 59%,
    rgba(120, 120, 120, 1) 92%
  );

  mask: #ffffff content-box, #ffffff71;
  mask-composite: exclude;

  -webkit-mask: linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(197, 197, 197, 1) 39%,
        rgba(120, 120, 120, 1) 52%
      )
      content-box,
    linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(197, 197, 197, 1) 39%,
      rgba(120, 120, 120, 1) 52%
    );
  -webkit-mask-composite: xor;

  pointer-events: none;
}
#basketCont {
  justify-self: center;
  h3 {
    font-family: Chopsic;
    color: #4400ff;
    margin: 0;
  }
}

#basket {
  p {
    font-size: 14px;
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #1934fd, #ad31ff);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  div {
    font-size: 14px;
    color: black;
    // margin-top: 10px;
  }
  .ticketBasket {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    color: #656565;
    align-items: flex-end;
  }

  h3 {
    text-align: center;
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
    color: black;
    margin-top: 10px;
  }
  ul {
    padding: 0;
    font-size: 14px;
  }
  li {
    color: black;
    margin-bottom: 15px;
  }
  margin: 3vw;
  width: 50%;
  min-width: 200px;
  padding: 20px 20px;
  border-radius: 30px;
  background-color: rgba(244, 244, 244, 0.7);
  display: block;
  position: relative;
  ::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 3px; /* control the border thickness */
    background: linear-gradient(
      174deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(197, 197, 197, 1) 52%,
      rgba(120, 120, 120, 1) 100%
    );

    mask: #ffffff content-box, #ffffff71;
    mask-composite: exclude;

    -webkit-mask: linear-gradient(
          rgba(255, 255, 255, 1) 0%,
          rgba(197, 197, 197, 1) 39%
        )
        content-box,
      linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(197, 197, 197, 1) 39%);
    -webkit-mask-composite: xor;

    pointer-events: none;
  }
}
.ticketItem {
  p {
    margin: 0;
  }
  padding: 10px 15px;
  border-radius: 30px;
  background-color: rgba(244, 244, 244, 0.7);
  display: block;
  position: relative;
  ::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 3px; /* control the border thickness */
    background: linear-gradient(
      174deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(197, 197, 197, 1) 52%,
      rgba(120, 120, 120, 1) 100%
    );

    mask: #ffffff content-box, #ffffff71;
    mask-composite: exclude;

    -webkit-mask: linear-gradient(
          rgba(255, 255, 255, 1) 0%,
          rgba(197, 197, 197, 1) 39%
        )
        content-box,
      linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(197, 197, 197, 1) 39%);
    -webkit-mask-composite: xor;

    pointer-events: none;
  }
}
.separateTickets {
  .ticketItem {
    margin-bottom: 15px;
  }
}
.separateTickets.ticketItem {
  margin-bottom: 15px;
}
#ticketCampSpots {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.campIdle {
  margin: 1px;
  min-width: 100px;
  cursor: pointer;
  padding: 20px 30px;
  color: #213547;
  background-image: url("./assets/tickets/camp_idle.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 0px rgba(173, 84, 255, 0.7));
  border: 0px;
  transition: 0.2s;
  p {
    background-color: red;
    text-align: center;
    font-size: 90%;
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #9900ff, #0026ff);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}
.campIdle:hover {
  filter: drop-shadow(0px 2px 2px rgba(173, 84, 255, 0.7));
}
.campIdle:active {
  background-image: url("./assets/tickets/camp_picked.svg");
  filter: drop-shadow(0px 2px 2px rgba(173, 84, 255, 0));
}
.campIdle:visited {
  background-image: url("./assets/tickets/camp_picked.svg");
}
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
input[type="radio"] {
  visibility: hidden;
}
.campPicked {
  margin: 1px;
  min-width: 100px;
  cursor: pointer;
  padding: 20px 30px;
  color: #213547;
  background-image: url("./assets/tickets/camp_picked.svg");
  filter: drop-shadow(0px 2px 2px rgba(242, 117, 22, 0.7));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 0px;
  transition: 0.2s;
  p {
    background-color: red;
    text-align: center;
    font-size: 90%;
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #f89d00, #af4261);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}
.campPicked:hover {
  transition: 0.2s;
  filter: drop-shadow(0px 3px 4px rgba(242, 117, 22, 0.9));
}
.campGrey {
  min-width: 100px;
  cursor: pointer;
  padding: 20px 30px;
  color: #213547;
  background-image: url("./assets/tickets/camp_grey.svg");
  filter: drop-shadow(0px 2px 2px rgba(106, 106, 106, 0.7));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
  p {
    text-align: center;
    font-size: 80%;
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #656565, #c0c0c0);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}
.extraBtnADD {
  border: 0;
  height: 30px;
  cursor: pointer;
  padding: 20px;
  color: #213547;
  background-image: url("./assets/buttons/tct_add.svg");
  filter: drop-shadow(0px 2px 2px rgba(106, 106, 106, 0.7));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 16px;
  transition: 0.3s;
  align-self: flex-end;
}
.basketBtnRmv {
  border: 0;
  height: 20px;
  width: 20px;
  cursor: pointer;
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/basket_rmv.svg");
  // filter: drop-shadow(0px 2px 2px rgba(106, 106, 106, 0.7));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 16px;
  transition: 0.3s;
  align-self: center;
}
.ticketBasket.ticketItem {
  margin-bottom: 10px;
}

.disabledTicket.ticketItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: rgba(204, 204, 204, 0.5);
  padding: 10px 15px;
  border-radius: 30px;
  position: relative;
  p {
    opacity: 0.5;
  }
}

.basketCheckout {
  border: 0;
  margin-top: 20px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/checkout_btn.svg");
  // filter: drop-shadow(0px 2px 2px rgba(106, 106, 106, 0.7));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 16px;
  transition: 0.1s;
  align-self: center;
}

.disabledCheckout {
  border: 0;
  margin-top: 20px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  padding: 5px;
  color: #213547;
  background-image: url("./assets/buttons/checkout_btn_disabled.svg");
  // filter: drop-shadow(0px 2px 2px rgba(106, 106, 106, 0.7));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 16px;
  transition: 0.1s;
  align-self: center;
}

.bandslistLetter {
  min-height: 30px;
  margin: 10px;
  padding-top: 5px;
  color: #213547;
  background-image: url("./assets/bandslistLetter.svg");
  filter: drop-shadow(0px 2px 2px rgba(106, 106, 106, 0.7));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 10px;

  p {
    text-align: center;
    margin: 0;
    font-size: 14px;
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #0d00ff, #a600ff);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}
#guestInfoPage {
  display: flex;
  width: 500px;
  justify-content: center;
  flex-wrap: wrap-reverse;
  background-image: url(/src/assets/background_1.webp);
  background-repeat: no-repeat;
  background-color: #99caea;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
#paymentDetails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  background-image: url(/src/assets/background_1.webp);
  background-repeat: no-repeat;
  background-color: #99caea;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.checkoutform {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  background-image: url(/src/assets/background_1.webp);
  background-repeat: no-repeat;
  background-color: #99caea;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  align-self: center;
  padding-top: 10%;
}
.formInputShorter {
  width: 50%;
  max-width: 50px;
}
.formInputCont {
  width: 100%;
  max-width: 300px;
  text-align: center;
  padding: 2px;
  margin-bottom: 12px;
  // margin-top: 5px;
  border-radius: 30px;
  background: linear-gradient(
    rgba(140, 140, 140, 0.7) 0%,
    rgba(255, 255, 255, 0.7) 90%
  );
  display: block;
  position: relative;
  input {
    width: 95%;
    padding: 4px;
    // padding-top: 5px;
    // padding-bottom: 8px;
    padding-left: 13px;
    // text-align: center;
    font-family: "Audiowide";
    font-size: 14px;
    border: none;
    background-color: transparent;
    overflow: hidden;
  }
  // input::placeholder {
  //   font-size: 12px;
  // }
  ::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 2px; /* control the border thickness */
    background: linear-gradient(
      174deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(197, 197, 197, 1) 52%,
      rgba(120, 120, 120, 1) 100%
    );

    mask: #ffffff content-box, #ffffff71;
    mask-composite: exclude;

    -webkit-mask: linear-gradient(
          rgba(255, 255, 255, 1) 0%,
          rgba(197, 197, 197, 1) 39%
        )
        content-box,
      linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(197, 197, 197, 1) 39%);
    -webkit-mask-composite: xor;

    pointer-events: none;
  }
}
.labelGuestList {
  color: #0026ff;
  margin-left: 14px;
}
.GuestGuest {
  margin-bottom: 10px;
}
.confirmation {
  button {
    display: block;
    background: none;
    margin: 0 auto;
    border: 0px;
  }

  h1 {
    text-align: center;
    margin: 0;
    font-size: 40px;
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #0d00ff, #a600ff);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  h2 {
    text-align: center;
  }
}
