// ? here there are buttons for reguard and vip tickets

.basketGold {
  background: linear-gradient(
    171deg,
    rgba(250, 218, 106, 1) 9%,
    rgba(234, 184, 55, 1) 70%,
    rgba(248, 219, 117, 1) 82%
  );
}
.ticketOptionBtn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
  button {
    border: 0;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    // padding: 20px;
    color: #213547;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 16px;
    transition: 0.1s;
  }
}
.regInc {
  background-image: url("./assets/tickets/regIncON.svg");
  border: 0;
}
button:hover.regInc {
  scale: 1.05;
  filter: drop-shadow(0px 1px 2px rgba(165, 165, 165, 0.9));
}
button:active.regInc {
  scale: 0.8;
}
button:disabled.regInc {
  opacity: 0.3;
  scale: 1;
}

.regDec {
  background-image: url("./assets/tickets/regDecON.svg");
}
button:hover.regDec {
  scale: 1.05;
  filter: drop-shadow(0px 1px 2px rgba(165, 165, 165, 0.9));
}
button:active.regDec {
  scale: 0.8;
}
button:disabled.regDec {
  opacity: 0.3;
  scale: 1;
}
.vipInc {
  background-image: url("./assets/tickets/vipIncON.svg");
}

button:active.vipInc {
  scale: 0.8;
}
button:disabled.vipInc {
  opacity: 0.3;
  scale: 1;
}
button:hover.vipInc {
  scale: 1.05;
  filter: drop-shadow(0px 1px 2px rgba(255, 255, 255, 0.4));
}
.vipDec {
  background-image: url("./assets/tickets/vipDecON.svg");
}
button:hover.vipDec {
  scale: 1.05;
  filter: drop-shadow(0px 1px 2px rgba(255, 255, 255, 0.4));
}
button:active.vipDec {
  scale: 0.8;
}
button:disabled.vipDec {
  opacity: 0.3;
  scale: 1;
}

.extraBtnADD {
  border: 0;
  height: 30px;
  cursor: pointer;
  padding: 20px;
  color: #213547;
  background-image: url("./assets/buttons/tct_add.svg");
  filter: drop-shadow(0px 2px 2px rgba(106, 106, 106, 0.7));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 16px;
  transition: 0.3s;
  align-self: flex-end;
}
button:active.extraBtnADD {
  scale: 0.8;
}

button:hover.extraBtnADD {
  scale: 1.1;
  filter: drop-shadow(0px 1px 2px rgba(255, 255, 255, 0.4));
}

.disabledExtraBtn {
  border: 0;
  height: 30px;
  cursor: pointer;
  padding: 20px;
  color: #213547;
  background-image: url("./assets/buttons/disabled_addextra.svg");
  filter: drop-shadow(0px 2px 2px rgba(106, 106, 106, 0.7));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 16px;
  transition: 0.3s;
  align-self: flex-end;
}